# AAI614: Data Science & its Applications

*Notebook 2.6: Practice with Data Collections*

<a href="https://colab.research.google.com/github/gassaf2/AAI614_assaf/blob/main/week2/Notebook2.6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [217]:
# Import the taxi info from both January and July 2019.
# Include the following columns: tpep_pickup_datetime, passenger_count, trip_distance,
# fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge,
# total_amount, and congestion_surcharge.

filenames = ['https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aa.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aq.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bg.csv',
             'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ap.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ab.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ar.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aa.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aq.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ac.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01as.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ab.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ar.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ad.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01at.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ac.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07as.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ae.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01au.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ad.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07at.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01af.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01av.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ae.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07au.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ag.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aw.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07af.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07av.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ah.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ax.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ag.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aw.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ai.csv', 
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ay.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ah.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ax.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01aj.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01az.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ai.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ay.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ak.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ba.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07aj.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07az.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01al.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bb.csv', 
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ak.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ba.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01am.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bc.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07al.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07bb.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01an.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bd.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07am.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ao.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01be.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07an.csv',
            'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01ap.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-01bf.csv', 'https://raw.githubusercontent.com/harmanani/AAI614/refs/heads/main/Week%202/nyc_taxi/nyc_taxi_2019-07ao.csv']

#all_dfs = [pd.read_csv(one_filename) for one_filename in filenames]

#df = pd.concat(all_dfs)


#df.head()

In [111]:
df1=pd.read_csv(filenames[0]) ## Added by Georges Assaf to read the columns name available in the first csv
df1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239.0,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246.0,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236.0,1.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193.0,2.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193.0,2.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235001,2,2019-01-02 10:41:39,2019-01-02 11:14:07,6,5.62,1,N,79,43.0,1.0,24.5,0.0,0.5,4.00,0.0,0.3,29.30,NaN
235002,1,2019-01-02 10:24:57,2019-01-02 10:52:02,1,6.10,1,N,79,239.0,2.0,24.0,0.0,0.5,0.00,0.0,0.3,24.80,NaN
235003,2,2019-01-02 10:16:16,2019-01-02 10:20:45,1,0.81,1,N,137,170.0,1.0,5.0,0.0,0.5,1.45,0.0,0.3,7.25,NaN
235004,2,2019-01-02 10:41:23,2019-01-02 10:46:37,1,1.00,1,N,107,161.0,1.0,6.0,0.0,0.5,1.36,0.0,0.3,8.16,NaN
235005,2,2019-01-02 10:51:06,2019-01-02 11:06:47,1,2.95,1,N,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
columns_use=df1.columns.tolist()
all_dfs = [pd.read_csv(one_filename,header=None,names=columns_use, usecols=range(18),skiprows=1) for one_filename in filenames[0:]]  # reading with skipping the first row

C:\Users\gassaf\AppData\Local\Temp\ipykernel_39524\1996196363.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  all_dfs = [pd.read_csv(one_filename,header=None,names=columns_use, usecols=range(18),skiprows=1) for one_filename in filenames[0:]]

In [120]:
dff=pd.concat(all_dfs,ignore_index=True)
dff

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.50,1.0,N,151.0,239.0,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1.0,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.60,1.0,N,239.0,246.0,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2.0,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.00,1.0,N,236.0,236.0,1.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2.0,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.00,1.0,N,193.0,193.0,2.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2.0,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.00,2.0,N,193.0,193.0,2.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13978205,2.0,2019-07-18 13:56:49,2019-07-18 14:20:47,1.0,1.70,1.0,N,161.0,68.0,1.0,15.0,0.0,0.5,2.00,0.0,0.3,20.30,2.5
13978206,1.0,2019-07-18 13:44:23,2019-07-18 13:52:09,2.0,1.50,1.0,N,246.0,158.0,1.0,8.0,2.5,0.5,2.25,0.0,0.3,13.55,2.5
13978207,1.0,2019-07-18 13:58:08,2019-07-18 13:59:54,1.0,0.10,1.0,N,90.0,90.0,2.0,3.0,2.5,0.5,0.00,0.0,0.3,6.30,2.5
13978208,2.0,2019-07-18 13:09:09,2019-07-18 14:20:14,5.0,16.85,2.0,N,161.0,132.0,1.0,52.0,0.0,0.5,11.06,0.0,0.3,66.36,2.5
13978209,2.0,2019-07-18 13:39:01,2019-07-18 13:53:44,5.0,1.97,1.0,N,234.0,148.0,1.0,11.0,0.0,0.5,3.58,0.0,0.3,17.88,2.5

In [121]:
df=dff

In [122]:
df_backup=df

In [123]:
# Create a new column, pre_tip_amount
df['pre_tip_amount'] = (
    df
    [['fare_amount', 'extra', 'mta_tax', 'tolls_amount', 
      'improvement_surcharge', 'congestion_surcharge']]
    .sum(axis='columns')
)

In [124]:
list(df.columns)

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'pre_tip_amount']

In [125]:
# Create a new column, tip_percentage, showing the percent of the fare_amount that people tipped
df['tip_percentage'] = df['tip_amount'] / df['pre_tip_amount']

In [126]:
# What was the overall tip percentage?
df['tip_percentage'].mean()

0.130039691057778

In [127]:
list(df.columns)
#df['tip_percentage']

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'pre_tip_amount',
 'tip_percentage']

In [130]:
# How many times did people tip more than 100%?
(df['tip_percentage'] > 1).value_counts()
print(f"people tip  more than 100%,   {(df['tip_percentage'] > 1).value_counts()[1]} times")

people tip  more than 100%,   7831 times

C:\Users\gassaf\AppData\Local\Temp\ipykernel_39524\1795717977.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"people tip  more than 100%,   {(df['tip_percentage'] > 1).value_counts()[1]} times")

In [133]:
# What percent of taxi riders give no tip at all?
(df['tip_percentage'] == 0).value_counts(normalize=True)
print(f"the percentage of taxi riers that give no tip at all is {(df['tip_percentage'] == 0).value_counts(normalize=True)[1]*100:.2f}%")

the percentage of taxi riers that give no tip at all is 32.08%

C:\Users\gassaf\AppData\Local\Temp\ipykernel_39524\4222524084.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"the percentage of taxi riers that give no tip at all is {(df['tip_percentage'] == 0).value_counts(normalize=True)[1]*100:.2f}%")

In [59]:
df.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
                          ...
12.5                     float64
3.16                     float64
18.96                    float64
pre_tip_amount           float64
tip_percentage           float64
Length: 262, dtype: object

# Steps added by ME [Georges ASSAF] to convert the column tpep_pickup_datetime to datetime type

In [135]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], errors='coerce') # Added to conver the column fro object to datatime format

In [142]:
list(df.columns)

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'pre_tip_amount',
 'tip_percentage']

In [138]:
# On which day of the week do people tip the greatest percentage?
# Mon = 0, Tues = 1, Wed = 2, Thu = 3, Fri = 4, Sat = 5, Sun = 6

df.groupby(df['tpep_pickup_datetime'].dt.day_of_week)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
3.0    0.133969
2.0    0.132221
1.0    0.131424
4.0    0.129136
0.0    0.128723
6.0    0.126634
5.0    0.125801
Name: tip_percentage, dtype: float64

In [140]:
import datetime as dt
# At which hour do people tip the greatest percentage?
df.groupby(df['tpep_pickup_datetime'].dt.hour)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
22.0    0.138816
20.0    0.138160
21.0    0.137685
8.0     0.137116
19.0    0.135174
23.0    0.134979
18.0    0.133292
9.0     0.133017
7.0     0.132134
0.0     0.131490
2.0     0.130914
1.0     0.130710
17.0    0.128640
10.0    0.127200
11.0    0.125022
16.0    0.124655
13.0    0.124566
12.0    0.124374
14.0    0.123727
15.0    0.123547
3.0     0.121053
6.0     0.119915
4.0     0.118987
5.0     0.112027
Name: tip_percentage, dtype: float64

In [141]:
# Do people tip more, on average, in January or July?
df.groupby(df['tpep_pickup_datetime'].dt.month)['tip_percentage'].mean().sort_values(ascending=False)

tpep_pickup_datetime
5.0     0.200000
8.0     0.158099
3.0     0.148046
9.0     0.141431
1.0     0.137011
2.0     0.132224
7.0     0.121570
12.0    0.109367
6.0     0.107354
10.0    0.100000
4.0     0.074877
11.0    0.046026
Name: tip_percentage, dtype: float64

People tip more in January with a tip percentage of 13.7% while in july they tip 12%

In [144]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pre_tip_amount,tip_percentage
0,1.0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.5,1.0,N,151.0,239.0,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN,8.3,0.198795
1,1.0,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.6,1.0,N,239.0,246.0,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN,15.3,0.065359
2,2.0,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.0,1.0,N,236.0,236.0,1.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,5.8,0.000000
3,2.0,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.0,1.0,N,193.0,193.0,2.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN,4.8,0.000000
4,2.0,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.0,2.0,N,193.0,193.0,2.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN,52.8,0.000000

In [158]:
# What was the 1-day period in our data set when people tipped the greatest percentage?
#df = df.set_index('tpep_pickup_datetime')
answer=df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)
answer

tpep_pickup_datetime
2019-02-13    0.358127
2019-02-25    0.250000
2019-08-20    0.241865
2019-11-27    0.200000
2019-08-15    0.200000
2019-05-20    0.200000
2019-08-10    0.200000
2019-09-22    0.200000
2019-09-24    0.200000
2019-09-25    0.200000
Name: tip_percentage, dtype: float64

In [159]:
print(f"ANSWER: The first day when the people tip the greatest percenage is 2019-02-13 when the tiped a percentage of {answer.iloc[0]}")

ANSWER: The first day when the people tip the greatest percenage is 2019-02-13 when the tiped a percentage of 0.3581267217630854

In [168]:
df.head(100)

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pre_tip_amount,tip_percentage
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2001-02-02 14:55:07,2.0,2001-02-02 15:07:27,1.0,0.00,1.0,N,193.0,193.0,2.0,2.5,0.5,0.5,0.0,0.00,0.3,3.80,NaN,3.80,0.0
2002-02-02 01:10:11,2.0,2002-02-02 01:25:30,1.0,2.84,1.0,N,48.0,158.0,2.0,11.0,0.0,0.5,0.0,0.00,0.3,14.30,2.5,14.30,0.0
2002-02-02 01:10:14,2.0,2002-02-02 01:23:33,1.0,1.10,1.0,N,48.0,48.0,2.0,10.0,0.0,0.5,0.0,0.00,0.3,13.30,2.5,13.30,0.0
2002-02-02 01:11:24,2.0,2002-02-03 00:06:22,2.0,2.46,1.0,N,79.0,164.0,1.0,15.0,0.5,0.5,0.0,0.00,0.3,18.80,2.5,18.80,0.0
2002-02-02 01:12:58,2.0,2002-02-02 01:25:12,1.0,1.56,1.0,N,142.0,246.0,2.0,9.5,0.0,0.5,0.0,0.00,0.3,12.80,2.5,12.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-01-01 01:24:47,2.0,2009-01-01 01:49:22,1.0,9.20,1.0,N,132.0,56.0,2.0,28.0,0.0,0.5,0.0,0.00,0.3,28.80,0.0,28.80,0.0
2009-01-01 01:31:50,2.0,2009-01-01 01:51:18,4.0,2.03,1.0,N,140.0,161.0,2.0,13.0,0.0,0.5,0.0,0.00,0.3,13.80,NaN,13.80,0.0
2009-01-01 01:33:25,2.0,2009-01-01 02:11:31,1.0,18.04,2.0,N,132.0,74.0,2.0,52.0,0.0,0.5,0.0,6.12,0.3,58.92,0.0,58.92,0.0
2009-01-01 01:37:07,2.0,2009-01-01 01:45:08,1.0,1.05,1.0,N,263.0,263.0,2.0,7.0,0.0,0.5,0.0,0.00,0.3,7.80,NaN,7.80,0.0
2009-01-01 01:44:28,2.0,2009-01-01 01:49:10,2.0,0.59,1.0,N,48.0,230.0,2.0,5.0,0.0,0.5,0.0,0.00,0.3,5.80,NaN,5.80,0.0

# Added by Georges Assaf to remove the rows where the index column is null

In [176]:

df_NoNull=df[df.index.notna()]
df_NoNull.shape[0]

DatetimeIndex(['2001-02-02 14:55:07', '2002-02-02 01:10:11',
               '2002-02-02 01:10:14', '2002-02-02 01:11:24',
               '2002-02-02 01:12:58', '2002-02-02 01:15:54',
               '2002-02-02 01:25:54', '2002-02-02 01:29:41',
               '2002-02-02 01:36:10', '2002-02-02 01:40:18',
               ...
                               'NaT',                 'NaT',
                               'NaT',                 'NaT',
                               'NaT',                 'NaT',
                               'NaT',                 'NaT',
                               'NaT',                 'NaT'],
              dtype='datetime64[ns]', name='tpep_pickup_datetime', length=13978210, freq=None)

13978200


# Try again, within our range
df = df.sort_index()

df = pd.concat([df.loc['2019-01-01':'2019-01-31'],df.loc['2019-07-01':'2019-07-31']])

#df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

In [177]:
# Try again, within our range
df_NoNull = df_NoNull.sort_index() # Replacing the df with the new df_NoNull where no null values in the index

df_NoNull = pd.concat([df_NoNull.loc['2019-01-01':'2019-01-31'],df_NoNull.loc['2019-07-01':'2019-07-31']]) # Replacing the df with the new df_NoNull where no null values in the index

df_NoNull.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10) # Replacing the df with the new df_NoNull where no null values in the index

tpep_pickup_datetime
2019-01-31    0.144348
2019-01-30    0.143530
2019-01-24    0.143434
2019-01-22    0.142769
2019-01-15    0.142330
2019-01-29    0.141330
2019-01-10    0.141291
2019-01-16    0.141148
2019-01-17    0.140356
2019-01-23    0.140310
Name: tip_percentage, dtype: float64

In [179]:
df_NoNull.resample('1M')['tip_percentage'].mean().dropna()

C:\Users\gassaf\AppData\Local\Temp\ipykernel_39524\2649227055.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df_NoNull.resample('1M')['tip_percentage'].mean().dropna()

tpep_pickup_datetime
2019-01-31    0.137012
2019-07-31    0.121570
Name: tip_percentage, dtype: float64

# Questions

1. We saw that 32 percent of riders don't tip at all. Of those who *do*, what percentage do they tip, on average?

In [180]:
# Filter out rows where tip_percentage is 0
df_tipped = df[df['tip_percentage'] > 0]

# Calculate the mean tip percentage for riders who tipped
average_tip_percentage = df_tipped['tip_percentage'].mean()

average_tip_percentage

0.1914734236810179

In [183]:
average_tip_percentage = df[df['tip_percentage'] > 0]['tip_percentage'].mean()
print(f"Of those who tips, the percentage is {average_tip_percentage*100:.2f} %")

Of those who tips, the percentage is 19.15 %

2. How many of the rides in our data set, supposedly from January and July 2019, are from outside of those dates?

In [187]:

outside_jan_july = df[~((df.index >= '2019-01-01') & (df.index <= '2019-01-31')) & 
                      ~((df.index >= '2019-07-01') & (df.index <= '2019-07-31'))]
num_outside = outside_jan_july.shape[0]
print(f"the number of rides outside the month of January and July 2019 is {num_outside} rides")

the number of rides outside the month of January and July 2019 is 509048 rides

3. Looking only at dates in January and July, on what week did passengers tip the greatest percentage?

In [214]:
data_jan_july = df[((df.index >= '2019-01-01') & (df.index <= '2019-01-31')) | 
                      ((df.index >= '2019-07-01') & (df.index <= '2019-07-31'))]
data_jan_july=data_jan_july.reset_index()
data_jan_july['tpep_pickup_datetime'] = pd.to_datetime(data_jan_july['tpep_pickup_datetime'], errors='coerce') # Added to conver the column fro object to datatime format

In [215]:
data_jan_july

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pre_tip_amount,tip_percentage
0,2019-01-01 00:00:00,2.0,2019-01-01 01:03:12,2.0,7.37,1.0,N,237.0,264.0,2.0,23.5,0.5,0.5,0.00,0.0,0.3,24.80,NaN,24.8,0.000000
1,2019-01-01 00:00:01,2.0,2019-01-01 00:05:17,6.0,1.73,1.0,N,263.0,74.0,2.0,7.0,0.5,0.5,0.00,0.0,0.3,8.30,NaN,8.3,0.000000
2,2019-01-01 00:00:03,1.0,2019-01-01 00:04:26,1.0,0.60,1.0,N,80.0,112.0,2.0,5.0,0.5,0.5,0.00,0.0,0.3,6.30,NaN,6.3,0.000000
3,2019-01-01 00:00:05,4.0,2019-01-01 00:11:05,1.0,1.53,1.0,N,231.0,148.0,2.0,9.0,0.5,0.5,0.00,0.0,0.3,10.30,NaN,10.3,0.000000
4,2019-01-01 00:00:06,1.0,2019-01-01 00:44:05,1.0,3.20,1.0,N,114.0,79.0,1.0,26.0,0.5,0.5,5.45,0.0,0.3,32.75,NaN,27.3,0.199634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13469157,2019-07-30 23:59:59,2.0,2019-07-31 00:18:01,1.0,3.84,1.0,N,125.0,48.0,2.0,15.5,0.5,0.5,0.00,0.0,0.3,19.30,2.5,19.3,0.000000
13469158,2019-07-31 00:00:00,2.0,2019-07-31 22:51:13,5.0,2.23,1.0,N,234.0,161.0,2.0,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,13.3,0.000000
13469159,2019-07-31 00:00:00,2.0,2019-07-31 20:24:49,1.0,3.23,1.0,N,140.0,264.0,2.0,14.0,3.0,0.5,0.00,0.0,0.3,17.80,0.0,17.8,0.000000
13469160,2019-07-31 00:00:00,2.0,2019-07-31 23:08:51,1.0,0.00,5.0,N,97.0,264.0,1.0,27.8,0.0,0.0,4.40,0.0,0.0,32.20,0.0,27.8,0.158273
13469161,2019-07-31 00:00:00,2.0,2019-07-31 00:09:33,1.0,1.94,1.0,N,43.0,263.0,1.0,9.0,0.5,0.5,1.92,0.0,0.3,14.72,2.5,12.8,0.150000

In [216]:
data_jan_july.groupby(data_jan_july['tpep_pickup_datetime'].dt.isocalendar().week)['tip_percentage'].mean().sort_values(ascending=False)

week
5     0.141110
4     0.138930
3     0.138536
2     0.137901
1     0.126983
31    0.123493
28    0.123459
29    0.123341
30    0.123036
27    0.112952
Name: tip_percentage, dtype: float64